<!-- index.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SkillSync</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'script.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body class="bg-gray-200">

    {% block login_form %}{% endblock %}

    {% block signup_form %}{% endblock %}

    {% block navbar %}{% endblock %}

    {% block tweet %}{% endblock %}

    {% block profile %}{% endblock %}

    {% block editProfile %}{% endblock %}

    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
